
<!-- Toolbar -->
<div class="topbuffer">
</div>

<div class="headerimage">
  <div class="mikeImage">
  </div>
</div>

<div class="menu">
  &nbsp;|
      <a mat-button routerLink="home">Home </a>&nbsp;|
      <a mat-button routerLink="contact">Contact </a>&nbsp;|
      <a mat-button routerLink="capabilities">Capabilities </a>&nbsp;|
      <a mat-button href="http://www.webtiers.com/wtsite/" target="_blank">Webtiers </a>&nbsp;|
      <a mat-button href="http://www.linkedin.com/in/mfmatthews/" target="_blank">LinkedIn </a>&nbsp;|
      <a mat-button href="../assets/MichaelMatthewsResume-062024.pdf" target="_blank">Profile</a>&nbsp;|

</div>
<div class="body_frame">
  <br/><br/>

  <router-outlet></router-outlet>
  <br/><br/>
  
</div>