<div class="main_body_header_title">
    Capabilities
</div>
<div class="main_body_content">
    <b>Integration Technologies</b>
    •	Docker
    •	Databricks
    •	Tenant Security Framework
    •	Micro front ends
    •	Microservices
    •	Pivotal Cloud Foundry
    •	Amazon Web Services, Kinesis, Timeseries, EC2
    •	Apache Kafka, Spark
    •	Tensorflow
    •	HCP Vault
    •	Concourse CI
    •	JSON, XML, CSV
    •	SSIS, SSRS, SSAS
    •	Oracle Data Integration
    <br /><br />
    <b>Architecture and Practice</b>
    •	Data Management Strategies
    •	Modernization
    •	TOGAF, Zachman
    •	Machine Learning
    •	Neural Network
    •	MDM
    •	Data Governance
    •	Change Management
    •	CTO Standards
    •	Cloud, Virtualization
    •	ITIL
    •	SaaS, PaaS, IaaS
    •	Software Design Patterns 
    <br /><br />
    <b>Web Technologies</b>
    •	Angular
    •	TypeScript
    •	Angular Material
    •	Esri
    •	Adobe Creative suite
    •	Progressive Web
    •	SSO
    •	Flask
    •	Django
    •	React
    •	HTML, CSS, JavaScript
    •	JSON, XML
    <br /><br />
    <b>Languages</b>
    •	GraphQL,
    •	NQL,   
    •	Python
    •	Java
    •	Spring Boot
    •	C#
    •	JavaScript
    •	HTML, CSS
    •	Fly
    •	AWK, Shell
    •	Vault
    <br /><br />
    <b>Platforms, Frameworks</b>
    •	Angular
    •	nodeJS
    •	Pivotal Cloud Foundry
    •	AWS
    •	Databricks
    •	Centos
    •	Mongodb
    •	Windows Azure
    •	Oracle DB
    •	MySQL
    •	SQL Server
    <br /><br />
    <b>Protocols, Transports</b>
    •	DOCSIS
    •	OAuth2
    •	HTTP
    •	TCPIP
    •	SSL
    •	SCP
    •	REST
    •	SOAP
    •	JAXWS, JAXB
    •	JMX, JMS
    •	SIP, RTC, RTP
    •	ODBC, JDBC
    <br /><br />
    <b>IDEs and Tools</b>
    •	VS Code
    •	IntelliJ
    •	app.dagrams.net (draw.io)
    •	Lucidchart
    •	Oracle SQL Developer 
    •	MySQL Workbench
    •	Insomnia
    •	Adobe Creative Suite
    •	Visio
    <br /><br />
    <b>Business Development</b>
    •	Business case development 
    •	Strategy Proposals 
    •	Client relationship building 
    •	New concept creation 
    •	IT Knowledge Management 
    •	Customer care modeling 
    •	Science and research 
    •	Sales and marketing support
    <br /><br />
    <b>Project Management</b>
    •	Agile, Scrum, KanBan 
    •	Deployment Management 
    •	Change Management 
    •	Software Lifecycle management 
    •	Project LOE 
    •	Budget management 
    •	Resource allocation 
    •	Training, mentoring and best practice guidance
    <br /><br />
    <b>Requirements and Analysis</b>
    •	Agile, Scrum, KanBan 
    •	Deployment Management 
    •	Change Management 
    •	Software Lifecycle management 
    •	Project LOE 
    •	Budget management 
    •	Resource allocation 
    •	Training, mentoring and best practice guidance
</div>