<div class="main_body_header_title">
    Capabilities
</div>
<div class="main_body_content">
    <b>Integration Technologies</b>
    •	Docker
    •	Databricks
    •	Tenant Security Framework
    •	Microservices
    •	Pivotal Cloud Foundry
    •	Amazon Web Services, Kinesis, Timeseries, EC2
    •	Apache Spark
    •	Apache Kafka
    •	HCP Vault
    •	Concourse
    •	JSON, XML, CSV
    •	SSIS, SSRS, SSAS
    •	Oracle Data Integration	Architecture and Practice
    <br /><br />
    <b>Data Management Strategies</b>
    •	DOCSIS
    •	TOGAF, Zachman
    •	Machine Learning
    •	MDM
    •	Data Governance
    •	Change Management
    •	CTO Standards
    •	Cloud, Virtualization
    •	ITIL
    •	SaaS, PaaS, IaaS
    <br /><br />
    <b>Software Design Patterns and Web Technologies</b>
    •	Angular
    •	TypeScript
    •	Angular Material
    •	Adobe Creative suite
    •	Progressive Web
    •	SSO
    •	Flask
    •	Django
    •	React
    •	HTML, CSS, JavaScript
    •	JSON, XML
    <br /><br />
    <b>Languages</b>
•	Python
•	Java
•	Spring Boot
•	C#
•	JavaScript
•	HTML, CSS
•	Fly
•	AWK, Shell
•	Vault
<br /><br />
<b>Platforms, Frameworks</b>
•	Angular
•	nodeJS
•	Pivotal Cloud Foundry
•	AWS
•	Databricks
•	Centos
•	Mongodb
•	Windows Azure
•	Oracle DB
•	MySQL
•	SQL Server
<br /><br />
<b>Protocols, Transports</b>
•	OAuth2
•	HTTP
•	TCPIP
•	SSL
•	SCP
•	REST
•	SOAP
•	JAXWS, JAXB
•	JMX, JMS
•	SIP, RTC, RTP
•	ODBC, JDBC
<br /><br />
<b>IDEs and Tools</b>
•	VS Code
•	IntelliJ
•	app.dagrams.net (draw.io)
•	Lucidchart
•	Oracle SQL Developer 
•	MySQL Workbench
•	Insomnia
•	Adobe Creative Suite
•	Visio
<br /><br />
<b>Business Development</b>
•	Business case development 
•	Strategy Proposals 
•	Client relationship building 
•	New concept creation 
•	IT Knowledge Management 
•	Customer care modeling 
•	Science and research 
•	Sales and marketing support
<br /><br />
<b>Project Management</b>
•	Agile, Scrum, KanBan 
•	Deployment Management 
•	Change Management 
•	Software Lifecycle management 
•	Project LOE 
•	Budget management 
•	Resource allocation 
•	Training, mentoring and best practice guidance
<br /><br />
<b>Requirements and Analysis</b>
•	Agile, Scrum, KanBan 
•	Deployment Management 
•	Change Management 
•	Software Lifecycle management 
•	Project LOE 
•	Budget management 
•	Resource allocation 
•	Training, mentoring and best practice guidance 

    
</div>