<div class="main_body_header_title">
Michael Matthews
</div>
<div class="main_body_content">
An enterprise technology leader with depth and knowledge in the areas of Business Intelligence, Data Management, Data and Software Architectures, and working with people and personalities at all levels. Bringing creativity, precision, fun and motivation to any endeavor, backed with a solid reputation for delivering results.
<br /><br />
With his advanced training in Computer Science, Mathematics and Engineering, Mike has leveraged a strong foundation to produce numerous effective results for a broad range of small to large technology companies. Mike has a proven ability in identifying technology adoption and roadmap, developing architecture strategy and business alignment, mentoring design and development approaches, and managing software projects.
</div>
